In [82]:
import numpy as np

In [1]:
import pandas as pd 
pd.__version__

'2.2.2'

In [2]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

--2024-09-23 20:58:45--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 298573 (292K) [text/plain]
Saving to: ‘laptops.csv.2’

laptops.csv.2       100%[===================>] 291,58K  --.-KB/s    in 0,06s

2024-09-23 20:58:45 (5,07 MB/s) - ‘laptops.csv.2’ saved [298573/298573]

In [50]:
df = pd.read_csv('laptops.csv')

In [51]:
df.shape[0]

2160

In [52]:
len(df["Brand"].unique())

27

In [53]:
df.isnull().any().sum()

3

In [54]:
num_missing_columns = df.isnull().sum()[df.isnull().sum() > 0].count()
print(f'Number of columns with missing values: {num_missing_columns}')

Number of columns with missing values: 3

In [62]:
max_final_price = df[df["Brand"]=="Dell"]["Final Price"].max()
print(f"Q5: Dell max final price {max_final_price}")

Q5: Dell max final price 3936.0

In [56]:
median_screen = df["Screen"].median()

15.6

In [58]:
most_frequent_screen = df["Screen"].mode()[0]

15.6

In [47]:
df.fillna(value = most_frequent_screen, inplace = True)

In [59]:
most_frequent_screen_after_fillna = df["Screen"].mode()[0]

15.6

In [61]:
print(f"Q6: Is it changed? {most_frequent_screen != most_frequent_screen_after_fillna}")

Q6: Is it changed? False

In [73]:
# 1.    Select all the "Innjoo" laptops from the dataset.
df_innjoo = df[df["Brand"]=="Innjoo"]

In [94]:
# 2.    Select only columns RAM, Storage, Screen.
data = df_innjoo[["RAM", "Storage", "Screen"]]

In [95]:
# 3.    Get the underlying NumPy array. Let's call it X.
X = np.array(data)

In [96]:
# 4.    Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = X.T.dot(X)

In [97]:
# 5.    Compute the inverse of XTX.
XTX_inverse = np.linalg.inv(XTX)

In [98]:
# 6.    Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [99]:
# 7.    Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = XTX_inverse.dot(X.T).dot(y)
w

array([45.58076606,  0.42783519, 45.29127938])

In [100]:
# 8.    What's the sum of all the elements of the result?

sum_w = w.sum()

print(f'Sum of all elements in w: {sum_w}')

Sum of all elements in w: 91.29988062995815