In [4]:
!wget https://archive.ics.uci.edu/static/public/222/bank+marketing.zip

1.sh  bank-full.csv  bank+marketing.zip  Untitled.ipynb

In [5]:
!unzip bank+marketing.zip

Archive:  bank+marketing.zip
 extracting: bank.zip
 extracting: bank-additional.zip

In [7]:
!unzip bank.zip

Archive:  bank.zip
  inflating: bank-full.csv
  inflating: bank-names.txt
  inflating: bank.csv

In [8]:
import pandas as pd

In [13]:
df = pd.read_csv("bank-full.csv",delimiter=";")

In [15]:
df.head().T

                    0           1             2            3        4
age                58          44            33           47       33
job        management  technician  entrepreneur  blue-collar  unknown
marital       married      single       married      married   single
education    tertiary   secondary     secondary      unknown  unknown
default            no          no            no           no       no
balance          2143          29             2         1506        1
housing           yes         yes           yes          yes       no
loan               no          no           yes           no       no
contact       unknown     unknown       unknown      unknown  unknown
day                 5           5             5            5        5
month             may         may           may          may      may
duration          261         151            76           92      198
campaign            1           1             1            1        1
pdays              -1          -1            -1           -1       -1
previous            0           0             0            0        0
poutcome      unknown     unknown       unknown      unknown  unknown
y                  no          no            no           no       no

In [16]:
columns_to_keep = [
    'age', 'job', 'marital', 'education', 'balance', 
    'housing', 'contact', 'day', 'month', 'duration', 
    'campaign', 'pdays', 'previous', 'poutcome', 'y'
]
df = df[columns_to_keep]

In [17]:
df.isna().any()

age          False
job          False
marital      False
education    False
balance      False
housing      False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
y            False
dtype: bool

In [18]:
df.education.mode()

0    secondary
Name: education, dtype: object

In [20]:
numerical_columns = ['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']

In [21]:
# Compute the correlation matrix for the numerical columns
correlation_matrix = df[numerical_columns].corr()

# Display the correlation matrix
print(correlation_matrix)

# Find the pair of features with the highest correlation (ignoring self-correlations)
correlation_pairs = correlation_matrix.unstack()
# Remove self-correlations (i.e., 1.0 diagonal values)
correlation_pairs = correlation_pairs[correlation_pairs != 1.0].sort_values(ascending=False)

# Display the pair with the highest correlation
print("The two features with the biggest correlation are:")
print(correlation_pairs.head(1))

               age   balance       day  duration  campaign     pdays  previous
age       1.000000  0.097783 -0.009120 -0.004648  0.004760 -0.023758  0.001288
balance   0.097783  1.000000  0.004503  0.021560 -0.014578  0.003435  0.016674
day      -0.009120  0.004503  1.000000 -0.030206  0.162490 -0.093044 -0.051710
duration -0.004648  0.021560 -0.030206  1.000000 -0.084570 -0.001565  0.001203
campaign  0.004760 -0.014578  0.162490 -0.084570  1.000000 -0.088628 -0.032855
pdays    -0.023758  0.003435 -0.093044 -0.001565 -0.088628  1.000000  0.454820
previous  0.001288  0.016674 -0.051710  0.001203 -0.032855  0.454820  1.000000
The two features with the biggest correlation are:
previous  pdays    0.45482
dtype: float64

In [24]:
# Target encodign
df.y = df.y.map(dict(yes=1, no=0))

In [25]:
df.head().T

                    0           1             2            3        4
age                58          44            33           47       33
job        management  technician  entrepreneur  blue-collar  unknown
marital       married      single       married      married   single
education    tertiary   secondary     secondary      unknown  unknown
balance          2143          29             2         1506        1
housing           yes         yes           yes          yes       no
contact       unknown     unknown       unknown      unknown  unknown
day                 5           5             5            5        5
month             may         may           may          may      may
duration          261         151            76           92      198
campaign            1           1             1            1        1
pdays              -1          -1            -1           -1       -1
previous            0           0             0            0        0
poutcome      unknown     unknown       unknown      unknown  unknown
y                   0           0             0            0        0

In [27]:
from sklearn.model_selection import train_test_split
# Separate the target variable 'y' from the rest of the DataFrame
X = df.drop('y', axis=1)
y = df['y']

# First, split the data into train (60%) and temp (40%)
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.4, random_state=42)

# Now, split the temp data into validation (20%) and test (20%) sets
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

# Verify the size of each dataset
print(f'Train set size: {X_train.shape}')
print(f'Validation set size: {X_val.shape}')
print(f'Test set size: {X_test.shape}')from sklearn.feature_selection import mutual_info_classif

Train set size: (27126, 14)
Validation set size: (9042, 14)
Test set size: (9043, 14)

In [30]:
from sklearn.feature_selection import mutual_info_classif
categorical_columns = ['job', 'marital', 'education', 'housing', 'contact', 'month', 'poutcome'] 
X_train_categorical = X_train[categorical_columns]

In [34]:
from sklearn.preprocessing import LabelEncoder
# Label encode the categorical columns
label_encoders = {}
for col in categorical_columns:
    le = LabelEncoder()
    X_train_categorical[col] = le.fit_transform(X_train_categorical[col])
    label_encoders[col] = le  # Save the encoder in case you need it later

# Calculate the mutual information scores between y_train and the categorical variables
mi_scores = mutual_info_classif(X_train_categorical, y_train, discrete_features=True)

/tmp/ipykernel_1710778/2765687987.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_categorical[col] = le.fit_transform(X_train_categorical[col])
/tmp/ipykernel_1710778/2765687987.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_categorical[col] = le.fit_transform(X_train_categorical[col])
/tmp/ipykernel_1710778/2765687987.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_categorical[col] = le.fit_transform(X_train_categorical[col])
/tmp/ipykernel_1710778/2765687987.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_categorical[col] = le.fit_transform(X_train_categorical[col])
/tmp/ipykernel_1710778/2765687987.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_categorical[col] = le.fit_transform(X_train_categorical[col])
/tmp/ipykernel_1710778/2765687987.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_categorical[col] = le.fit_transform(X_train_categorical[col])
/tmp/ipykernel_1710778/2765687987.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_categorical[col] = le.fit_transform(X_train_categorical[col])

In [35]:
mi_scores_rounded = [round(score, 2) for score in mi_scores]
mi_scores_df = pd.DataFrame({
    'Categorical Variable': categorical_columns,
    'Mutual Information Score': mi_scores_rounded
})
mi_scores_df

  Categorical Variable  Mutual Information Score
0                  job                      0.01
1              marital                      0.00
2            education                      0.00
3              housing                      0.01
4              contact                      0.01
5                month                      0.02
6             poutcome                      0.03

In [37]:

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import make_pipeline

# Define the one-hot encoder for categorical columns
ohe = OneHotEncoder(drop='first')

# Define a column transformer that applies the one-hot encoder only to categorical columns
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', ohe, categorical_columns)
    ], remainder='passthrough'  # Leave other columns unchanged
)

# Define the logistic regression model with specified parameters
model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)

# Create a pipeline that first preprocesses the data (one-hot encoding) and then applies logistic regression
pipeline = make_pipeline(preprocessor, model)

# Fit the model to the training data
pipeline.fit(X_train, y_train)

# Predict on the validation set
y_val_pred = pipeline.predict(X_val)

# Calculate the accuracy on the validation set
accuracy = accuracy_score(y_val, y_val_pred)

# Round the accuracy to 2 decimal places
accuracy_rounded = round(accuracy, 2)

# Display the accuracy
print(f'Validation Accuracy: {accuracy_rounded}')

Validation Accuracy: 0.9